<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - O mnie</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>O mnie</h1>
    <nav>
        <ul>
            <li><a href="/">Strona główna</a></li>
            <li><a href="/aboutme">O mnie</a></li>
            <li><a href="/gallery">Galeria</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    </nav>
</header>
<section class="main-content">
    <h2>Kim jestem?</h2>
    <p>Dawid Kubacki</p>
</section>
</body>
</html>
